# Image files
*.svg.png
*.svg
*.png
*.pdf
*.gif
*.pptx
*.tif
*.jpg
*.jpeg

# Directories
tex/
figdump/
*.tar.gz
*.zip

# ASCII files
*.dat
*.meta.txt
*.csv
*.mtx

# Python files
mytest.py
#*.ipynb
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pkl
